{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="/static/css/index.css">
  <div class="header"></div>
  <form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.store.label }}<br>
      {{ form.store(size=32, placeholder="Navn på butikken") }}
      {% for error in form.store.errors %}
      <br><span class="err">*{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.image.label }}<br>
      {{ form.image(class="custom-file-input") }}
      {% for error in form.image.errors %}
      <br><span class="err">*{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.total.label }}<br>
      {{ form.total(placeholder="Den endelige pris på din bon") }}
      {% for error in form.total.errors %}
      <br><span class="err">*{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.tags.label }}
      {{ form.tags() }}
      {% for error in form.tags.errors %}
      <br><span class="err">*{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

{% endblock %}
