{% extends "base.html" %}

{% block meta %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@elon">
    <meta name="twitter:title" content="{{ share.recipt.store }}">
    <meta name="twitter:description" content="{{ share.recipt.body }}">
    <meta name="twitter:image" content="{{ url_for('dashboard.img', id=share.recipt.id, share=share.code) }}">
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/css/view.css">
  <div class="header"></div>
  {% with recipt = share.recipt %}
    <h2>{{ recipt.store }}</h2>
    <img id="recipt" src="{{ url_for('dashboard.img', id=recipt.id, share=share.code) }}" alt="">
  {% endwith %}

{% endblock %}
