{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="/static/css/view.css">
  <div class="header"></div>
  
  <form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div id="top">
      <div id="left">
        <div id="store-head">
          <h1>{{ recipt.store }} <a href="{{ link }}" target="_blank"><img src="/static/img/gray/share_icon.svg" alt="big nono"></a></h1>
          {{ form.timestamp(placeholder="MM/DD/YY HH:MM:SS", id="date-select") }}
          {% for error in form.timestamp.errors %}
            <br><span class="err">*{{ error }}</span>
          {% endfor %}
        </div>

        <p style="font-size: 13px;"><i>Tags</i></p>
        <div id="tag-wrapper">
          {% for usr_tag, tag in tags %}
          <div class="tag" style="background-color: #{{ usr_tag.color }}40; border: 1.5px solid #{{ usr_tag.color }}70;">
            <span>{{usr_tag.body}}</span>
            <a href="?id={{ recipt.id }}&rem_tag={{ tag.id }}"><img src="/static/img/black/x_icon.svg" alt="x"></a>
          </div>
          {% endfor %}
          <div class="dropdown">
            <img class="add_img" onClick="open_dropdown();" src="/static/img/black/plus_add_icon.svg" alt="x">
            <div id="dropdown" class="dropdown-content">
              {% for tag in all_tags %}
                <a href="?id={{ recipt.id }}&add_tag={{ tag.id }}">{{ tag.body }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
          
        <div id="OCROUT">
          {{ form.body(placeholder="Contents of the recipt", spellcheck="false") }}
          {% for error in form.body.errors %}
            <br><span class="err">*{{ error }}</span>
          {% endfor %}
        </div>
        <br>
        <p>Brugerdefineret total: {{ form.total(placeholder="Total price", id="price") }}</p>
      </div>
      <img id="recipt" src="{{ url_for('dashboard.img', id=recipt.id, cool=0) }}" alt="">
    </div>

    <div id="contols">
      {{ form.submit(id="submit-btn") }}
      <a id="back-link" href="{{ url_for('dashboard.index') }}">Tilbage til forsiden</a>
    </div>
  </form>

  <script src="/static/js/view.js"></script>
{% endblock %}
