/* Input styles */
input[type=text] {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: calc(100% - 161px);
  padding: 12px 18px;
  width: 265px;

  margin: 8px 0;

  border: 1px solid #eee;
  border-radius: 2px;
  outline: none;
}

#search {
  background-image: url('/static/img/gray/key_icon.svg');
  padding: 12px 40px;
  padding-right: 12px;
}

input[type=text]:focus {
  border: 1px solid #ccc;
}

#submit {
  height: 43px;
  width: 75px;
  box-shadow: none;
  transition: all 10ms ease;
}

#submit:hover {
  box-shadow: none;
  border: 1px solid #ccc;
}

/* table style */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td, thead th {
  text-align: left;
}

td, th {
  padding: 5px;
}

tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

td, th {
  border-bottom: 1px solid #aaa;
}

td img {
  float: right;
  padding-right: 10px;
}

/* Indicator light */
.indicator-wrapper {
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.indicator {
  border: 5px solid;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

/* Context menu */
.context-menu {
  position: absolute;
  background: lightgray;
  border: 1px solid black;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
}

.context-menu ul li {
  border: 1px solid black;
}

.context-menu ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 7px;
  display: block;
}

.context-menu ul li:hover {
  background: darkgray;
}

/*Change password form */
#popup-form input[type=password], #popup-form input[type=text] {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;

  width: calc(100% - 80px);
  padding: 12px 40px;
  margin: 8px 0;

  border: 1px solid #eee;
  border-radius: 2px;
  outline: none;
}

#popup-form input[type=password] {
  background-image: url('/static/img/gray/lock_security_icon.svg');
}

#popup-form input[type=submit] {
  width: 100%;
}

/* Card css */
#info-row, #card-wraper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#info-row {
  justify-content: space-between;
/*  flex: 1;
  min-width: 820px; */
}

#card-wraper {
  margin-bottom: 20px;
}

#info-row .card {
  position: relative;
  flex: 1;
  min-width: 200px;
  height: 220px;
  padding: 30px;
  padding-top: 105px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  overflow: hidden;
	background-clip: padding-box;
}

#info-row .card h3 {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;

  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  background-color: #be3af6;
  color: #fff;
  font-weight: bold;
}

#info-row .card h1 {
  padding-top: 15px;
  text-align: center;
}

#info-row .card .lower-title {
  padding-top: 10px;
  text-align: center;
  color: #aaa;
}

#info-row .card .lower-body {
  padding-top: 2px;
  text-align: center;
  color: #252525;
}

#info-row .card .process {
  overflow: hidden;
  background-clip: padding-box;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: #eee;
}

#info-row .card .process div {
  background-color: #be3af6;
  height: 100%;
  width: 0;
}

.card-wide {
  position: relative;
  min-width: 200px;
  height: 295px;
  flex: 1;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-wide p {
  margin-top: 5px;
}
